/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */
.container{
    max-width: 1200px;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.debug{
    background-color: red;
}

/* ---------------- */
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
/* --------------- */


/* Header */
header{
    text-align: center;
}

/* Nav */
.navigation{
    background-color: rgb(49, 97, 224);
}

nav ul li{
    display: inline-block;
    vertical-align: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.col-left .col-right{
    width: 15%;
}

.col-left{
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
}

.col-right{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    float: right;
}

.col-mid{
    display: inline-block;
    width: 70%;
    padding-top: 20px;
    margin: auto;
}
/* End Nav */



