/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------- */

/* Commons */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
/* --------------- */


/* Header */
header{
    text-align: center;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.hero{
    color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

h1{
    margin-bottom: 30px;
}

.download, .open{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    padding: 10px 15px;
    border-radius: 20px;
}

.download{
    background-color: white;
    color: black;
}

.open{
    background-color: rgb(35, 42, 39);
}
/* ------------------------------------ */

/* Nav */
.navigation{
    background-color: transparent;
    max-width: 1200px;
    margin: auto;
}

nav ul li{
    display: inline-block;
    vertical-align: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.col-left .col-right{
    width: 15%;
}

.col-left{
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
}

.col-right{
    float: right;
}

.col-mid{
    display: inline-block;
    width: 70%;
    padding-top: 20px;
    margin: auto;
}

.accedi{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
}
/* -------------------------*/



